<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!--Window size 429, 209-->
    
    <!--Clock Position-->
    <!--If center is 'yes' the desktoplocation is ignored-->
    <add key="Center" value="yes"/>
    <add key="DesktopLocationX" value="0"/>
    <add key="DesktopLocationY" value="0"/>

    <!--Windowed Mode-->
    <add key="Windowed" value="no"/>
    <!--Keep on top of other windows-->
    <add key="OnTop" value="no"/>
    
    <!--BackgroundMode-->
    <!--Options: default, solidcolor, transparent-->
    <add key="BackgroundMode" value="solidcolor"/>
    
    <!--Background Color-->
    <add key="Alpha" value="105"/>
    <add key="Red" value="30"/>
    <add key="Green" value="30"/>
    <add key="Blue" value="30"/>
    
    <!--Font Color-->
    <add key="FontRed" value="255"/>
    <add key="FontGreen" value="255"/>
    <add key="FontBlue" value="255"/>
    
  </appSettings>
</configuration>